* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body,
html {
	min-height: 100%;
	width: 100%;
}

li {
	list-style-type: none;
	/* Убираем маркеры */
}

ul {
	margin-left: 0;
	/* Отступ слева в браузере IE и Opera */
	padding-left: 0;
	/* Отступ слева в браузере Firefox, Safari, Chrome */
}

button:active,
button:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

.clear::after,
.clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

// Main styles

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
	font: 16px $Poppins;
	color: #363636;
	font-weight: 500;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex-shrink: 0;
}

.section {
	&__inner {
		padding-left: 0;
		padding-right: 0;

		@media (min-width: 768px) {
			padding-left: 60px;
			padding-right: 60px;
		}

		@media (min-width: 992px) {
			padding-left: 90px;
			padding-right: 90px;
		}
	}

	&__inner_pr_0 {
		padding-right: 0 !important;
	}
}

.custom-container_pr_0 {
	padding-right: 0 !important;
}

.custom-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	// @media (min-width: 576px) {
	// 	max-width: 540px;
	// }

	// @media (min-width: 768px) {
	// 	max-width: 720px;
	// }

	// @media (min-width: 992px) {
	// 	max-width: 960px;
	// }

	// @media (min-width: 1200px) {
	// 	max-width: 1140px;
	// }

	// @media (min-width: 1600px) {
	// 	max-width: 1440px;
	// }

	@media (min-width: 768px) {
		padding-right: 50px;
		padding-left: 50px;
	}

	@media (min-width: 992px) {
		padding-right: 115px;
		padding-left: 115px;
	}

	@media (min-width: 1600px) {
		padding-right: 150px;
		padding-left: 150px;
	}
}