.main-page {
    background: #070D18;
    height: calc(100vh - 82px);

    @media (min-width: 768px) {
        height: calc(100vh - 102px);
    }

    &__wrapper {
        display: flex;
        position: relative;
    }
}

.main-social {
    width: 50px;

    height: calc(100vh - 82px);
    position: relative;

    @media (min-width: 768px) {
        width: 70px;
        border-left: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
        height: calc(100vh - 102px);
    }

    &__nav {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -15px;
    }

    &__item {
        text-align: center;
        padding-bottom: 20px;
    }

    &__icon {
        fill: #fff;
    }

    &__icon_big {
        width: 30px;
        height: 30px;
    }

    &__icon_small {
        width: 20px;
        height: 20px;
    }
}

.main-banner {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__title {
        font-weight: 600;
        font-size: 28px;
        color: #B65AFE;

        @media (min-width: 576px) {
            font-size: 42px;
        }

        @media (min-width: 768px) {
            font-size: 64px;
        }
    }

    &__subtitle {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.12em;
        color: #A5A5A5;
        padding-bottom: 30px;

        @media (min-width: 576px) {
            font-size: 20px;
        }

        @media (min-width: 768px) {
            font-size: 28px;
            padding-bottom: 35px;
        }

        @media (min-width: 1600px) {
            font-size: 40px;
            padding-bottom: 35px;
        }
    }

    &__button {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        background: transparent;
        color: #FFFFFF;
        border: 2px solid #FDFDFD;
        transition: all .5s;
        padding: 5px 30px;

        &:hover {
            background-color: #FDFDFD;
            color: #070D18;
        }

        @media (min-width: 576px) {
            font-size: 20px;
            padding: 10px 60px;
        }

        @media (min-width: 768px) {
            padding: 15px 80px;
            font-size: 18px;
        }
    }

    &__scroll {
        position: absolute;
        bottom: 60px;
        left: 50%;
        margin-left: -30px;
    }
}

.main-message {
    width: 50px;
    height: calc(100vh - 82px);
    position: relative;

    @media (min-width: 768px) {
        width: 70px;
        height: calc(100vh - 102px);
    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: 50px;
        background: transparent;
    }

    &__icon {
        width: 50px;
        height: 50px;
    }
}