.news-open-content {
    padding-bottom: 30px;

    &__headline {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #B65AFE;
        margin-bottom: 15px;
    }

    &__txt {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #363636;
        margin-bottom: 25px;
    }
}

.open-news {
    padding-bottom: 60px;

    &__nav {
        display: flex;
        justify-content: center;
    }

    &__nav-btn {
        &:hover {
            text-decoration: none;
        }
    }
}