.vacancies-form {
    padding-bottom: 120px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
        color: #363636;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        border: 2px solid #C7C7C7;
        transition: all .5s;
        padding: 5px 30px;

        @media (min-width: 768px) {
            padding: 15px 80px;
            font-size: 18px;
        }

        @media (min-width: 1200px) {
            font-size: 18px;
        }
    }
}

.vacancies-fields {
    background: #FDFDFD;
    padding: 20px;
    width: 100%;

    @media (min-width: 768px) {
        padding: 40px 30px 20px 30px;
    }

    @media (min-width: 992px) {
        padding: 60px 40px 40px 40px;
    }

    @media (min-width: 1200px) {
        padding: 80px 50px 40px 50px;
    }

    &__item {
        padding-bottom: 30px;
    }

    &__name {
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #363636;
        font-size: 16px;

        @media (min-width: 992px) {
            font-size: 18px;
        }

        @media (min-width: 1200px) {
            font-size: 22px;
        }
    }

    &__field {
        background: #FDFDFD;
        border-bottom: 1px solid #DADADA;
        width: 100%;
        padding: 10px 5px;
    }
}